* {
    box-sizing: border-box;
  }

  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100%;
  }

  .left, .right {
    width: 25%;
  }

  .middle {
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid {
    display: grid;
    gap: 20px 20px;
    grid-template-rows: 340px 50px 400px auto;
    background-color: purple;
    grid-template-columns: auto 300px auto;

  }

  .grid > div {
    text-align: center;
  }

  .mainitem {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .search {
    border-radius: 150px;
  }