ul {

}

.nav-link {
    color: black;
    margin-left: 5px;
    display: block;
}

.nav-link:hover {
    background-color: lightgrey;
}

#welcome {
    color: blue;
    font-weight: bold;
    font-family: "Comic Sans";
}