.nav-link {
    color: black;
    margin-left: 5px;
    display: block;
}

.nav-link:hover {
    background-color: lightgrey;
}

#welcome {
    width: 325px;
    height: 60px;
    color: blue;
    font-weight: bold;
    font-family: "Comic Sans MS";
    outline-style: dotted;
    outline-color: red;
}

#troll {
    margin: 50px;

}

.maindiv {
    align-content: center;
}