{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <br>
    <form action="/edit/{{ title }}" method="POST">
        <div>
            <h6>Title</h6>
            <input type="text" name="title" style="width: 500px;" value="{{ title }}">
        </div>
        <br>
        <div>
            <h6>Content</h6>
            <textarea name="post" style="width: 1000px; height: 600px;" value="{{ entry }}"></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}