{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <br>
    <form action="/create" method="POST">
        <div>
            <h6>Title</h6>
            <input type="text" name="title" style="width: 500px;">
        </div>
        <br>
        <div>
            <h6>Content</h6>
            <textarea name="post" style="width: 1000px; height: 600px;"></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}