{% extends 'auctions/layout.html' %}

{% block body %}
    <form>
        <div>
            <h4>Title<span style="color: red;">*</span></h4>
            <input type="text" size="50">
        </div>
        <div>
            <h4>Category</h4>
            <input type="text" size="50">
        </div>
        <div>
            <h4>Image URL</h4>
            <input type="text" size="50">
        </div>
        <div>
            <h4>Starting Bid<span style="color: red;">*</span></h4>
            <input type="number" step="0.01" min="0.00">
        </div>
        <div>
            <div>
                <h4>Description<span style="color: red;">*</span></h4>
                <textarea style="width: 750px;" rows="5"></textarea>
            </div>
        </div>
        <div>
            <h7>
                Fields marked with an <span style="color: red;">*</span> are required.
            </h7>
        </div>
        <br>
        <input type="submit" style="font-size: 24px; width: 125px; text-align: center;" text="Post">
    </form>
{% endblock %}