{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        #listing {
            border-style: solid;
            border-width: 2px;
            height: 250px;
            margin-bottom: 18px;
            border-radius: 5px;
        }
        .grid {
            display: grid;
            border-style: solid;
            grid-template-columns: 25% 50% 25%;
        }
        .grid > div {
            text-align: center;
        }

    </style>

    <h2>Active Listings</h2>


    {% for listing in listings %}

        <div class="grid" id="listing">
            <div>

            </div>
            <div>
                
            </div>
        </div>

    {% endfor %}

{% endblock %}