{% extends 'auctions/layout.html' %}

{% block body %}

    <h1>Listing: {{ listing.listing_title }}</h1>

    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" height="300px" style="margin-top: 20px; margin-bottom: 20px;">
    {% endif %}

    <p>{{ listing.description }}</p>
    <h2>${{ listing.price }}</h2>
    <form method="POST" action="/listings/{{ listing.listing_id }}/bid" style="margin-top: 15px;">
        {% csrf_token %}
        <h7>{{ bid_count }} bid(s) so far.
            {% if current_bidder == True %}
            Your bid is the current bid.
            {% endif %}
        </h7>
        <br>
        <input style="border-style: solid; border-width: 1px; border-radius: 4px; height: 35px;" type="number" step="0.01" name="bid">
        {% if not is_bid_valid %}
            <div style="color: red; height: 5px;">Invalid bid</div>
        {% endif %}
        <br>
        <input style="margin-top: 15px;" class="btn btn-primary" type="submit" value="Place Bid">
    </form>
    <div style="margin-top: 15px;">
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.lister }}</li>
            <li>Category:
                {% if listing.category %}
                    {{ listing.category }}
                {% else %}
                    No category listed
                {% endif %}
            </li>
        </ul>
    </div>

    {% if is_lister %}
    <button style="margin-top: 15px;" class="btn btn-primary" type="submit">Delete Listing</button>
    {% endif %}

    <!--
        make delete button
    -->

{% endblock %}

