{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for dict in transaction_list %}

                <tr>
                    <th class="text-start">{{ dict["symbol"] }}</th>
                    <th class="text-end">{{ dict["shares"] }}</th>
                    <th class="text-end">{{ dict["price"] | usd }}</th>
                    <th class="text-end">{{ dict["dt"] }}</th>
                </tr>

            {% endfor %}
        </tbody>

    </table>
{% endblock %}
