{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in index_list %}

            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="border-0 fw-bold text-end">Cash</td>
            </tr>
            <tr>
                <td colspan="4" class="border-0 fw-bold text-end">Total</td>
            </tr>
        </tfoot>

    </table>
{% endblock %}
