{% extends "network/layout.html" %}

{% block body %}
    <style>
        .post {
            border-style: solid;
            border-width: 1px;
            margin: 0px 18px 10px 18px;
            border-radius: 3px;
        }
        .grid {
            display: grid;
            grid-template-columns: 25% 50% 25%;
        }
        .grid_div {
            text-align: center;

            padding: 10px;
        }

    </style>
    <h1>All Posts</h1>
    <div class="post" style="height: 250px;">
        <h4 style="margin: 15px 0px 0px 15px">New Post</h4>
        <form method="POST" action="/post">
            {% csrf_token %}
            <textarea cols="333" rows="5" style="margin: 15px 0px 0px 15px" name="body"></textarea>
            <br>
            <input style="margin: 0px 0px 0px 15px" class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
    {% for post in posts %}
        <div class="post" style="padding: 15px 15px 15px 15px;">
            <h5>{{ post.poster }}</h5>
            {% if user.is_authenticated %}
            <a href="#">Edit</a>
            {% endif %}
            <br>
            <text >{{ post.body }}</text>
            <br>
            <text style="color: grey;">{{ post.timestamp }}</text>
        </div>
    {% endfor %}
{% endblock %}