{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    </head>
    <body>
        <style>
            #edit_post {
                height: 250px;
                padding: 15px 15px 15px 15px;
            }
            #edit_text {
                width: 100%;
            }
        </style>
        <script type="text/babel">
            // Must be capitalized for some reason
            // Primary edit function that handles the page view and API requests
            function Display_editor(props){

                function display_edit(){
                    fetch(`/edit/${props.post_id}`, {
                        method: "GET"
                    })
                    .then(response => response.json())
                    .then(email => {
                        alert(email);
                    })
                }

                // Handles the PUT request to submit edit
                function submit_edit(event){
                    alert(props.post_id);

                    // API call to edit post with PUT
                    fetch(`/edit/${props.post_id}`, {
                        method: 'PUT',
                        body: JSON.stringify({
                            text: event.target.querySelector("#edit_text").value
                        })
                    })

                    // Blocks submit refresh
                    event.preventDefault();

                    display_edit();
                }
                // Sends the proper editing div
                return (
                    <div>
                        <h4>Edit Post</h4>
                        <form id="edit_form" onSubmit={submit_edit}>
                            <textarea id="edit_text" rows="5" name="body_text" defaultValue={props.body}></textarea>
                            <br/>
                            <input class="btn btn-primary" type="submit" value="Save"/>
                        </form>
                    </div>
                );
            }

            // Original call function when edit button is clicked
            function edit_post(event){
                // Grabs necessary information from HTML
                let post_id = event.target.parentElement.querySelector("#post_id").value;
                let body = event.target.parentElement.querySelector("#body").innerHTML;

                // Renders the above function/object thingy passing necessary values
                ReactDOM.render(<Display_editor body={body} post_id={post_id}/>, event.target.parentElement);
            }

        </script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>

            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/{{ user.id }}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/following">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>